# zsh plugins
[submodule "terminal/fzf-tab"]
	path = zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	shallow = true
[submodule "terminal/fast-syntax-highlighting"]
	path = zsh/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
	shallow = true
[submodule "terminal/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "terminal/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	shallow = true

# vim plugins
[submodule "terminal/nvim/pack/plugins/start/vim-surround"]
	path = xdg_config_home/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	shallow = true

# tmux plugins
[submodule "xdg_config_home/tmux/plugins/extrakto"]
	path = xdg_config_home/tmux/plugins/extrakto
	url = https://github.com/laktak/extrakto.git
	shallow = true
[submodule "xdg_config_home/tmux/plugins/tmux-cpu"]
	path = xdg_config_home/tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
	shallow = true
